# db Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD= 
DB_NAME=dupme_db

# session Configuration
SESSION_SECRET=super-secret-session-key-change-this-in-production

# server Configuration
PORT=4001
NODE_ENV=development

# frontend (for CORS)
FRONTEND=https://dupme.poppoo.xyz 