# db Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dupme_db # TODO: create this db locally

# session Configuration
SESSION_SECRET=super-secret-session-key-change-this-in-production

# server Configuration
PORT=4000
NODE_ENV=development

# frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
